#forgotpass{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 35vw;
}

.inputGroup{
    width: 100%;
    text-align: left;
}


#forgotpass input{
    height: 35px;
    border-radius: 6px;
    border-width: 1px;
    width: 100%;
    padding: 0 2%;
}

#forgotpass a{
    text-decoration: none;
    color: #3d6200;
}

#forgotpass button{
    border-radius: 4px;
    background-color: #3d6200;
    color: white;
    padding: 12px 24px;
    width: 100%;
    cursor: pointer;
    border-style: none;
    
}

#forgotpass button:hover{
    background-color: hsl(83, 100%, 19%, 90%);
}

#forgotpw{
    text-align: right;
}

.group2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
    margin-left: 4%;
}



